/* Contains all global style */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme Colors */
:root {
  --theme-blue: #00a2ed;
  --text-dark: #232f34;
  --light: #fafafa;
  --theme-light: #f8f8f8;
  --danger: #e91e63;
  --danger: #ff4444;
  --danger-dark: #cc0000;
  --success: #00c851;
  --success-dark: #007e33;
  --warning: #ff8800;
  --theme-navy: #1b354a;
}

html {
  background-color: var(--theme-light);
  color: var(--text-dark);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 2000px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button:disabled {
  background-color: lightgray !important;
  color: white;
  border: #f0f0f0;
}

input {
  border: 1px solid lightgrey !important;
  border-radius: 0.25rem !important;
  padding: 0.5rem 0.25rem !important;
}

input:focus {
  border: 2px solid var(--theme-blue) !important;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.lg-container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  border-radius: 0.15rem;
  cursor: pointer;
}

.btn:active {
  transform: translateY(2px);
  filter: brightness(0.8);
}

.btn:hover {
  filter: brightness(0.8);
}

.error-message {
  color: #cc0000;
  display: flex;
  align-items: center;
}

.error-message span {
  margin-left: 0.5rem;
}

.red {
  color: var(--danger);
}

.green {
  color: var(--success);
}

.blue {
  color: var(--theme-blue);
}

.warning {
  color: var(--warning);
}
